body {
    background-color: #F7C923;
    transition: background-color 2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



/* .proj__sub-heading {
    font-family: "Rubik Iso", system-ui;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: right;


} */